<li class="emp" *ngFor="let employee of employees">
  <div class="emp__id">
    <img src="../../assets/images/user.png" class="icon pp" alt="">
    <div class="emp__content">
    <h3 class="name">{{ employee.FirstName }} {{ employee.SecondName }}</h3>
    <p>{{ employee.Position }}</p>
    </div>
    </div>
    <div class="emp__control">
      <img src="../../assets/images/delete-user.png" class="icon" alt="">
      <img src="../../assets/images/edit-user.png" class="icon" alt="">
  </div>
</li>