.emp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 6px;

    &:last-child{
        border-bottom: 1px solid #000;
    }

    &__id {
        display: flex;
        align-items: center;
    }

    .emp__control {
        display: flex;
        flex-direction: column;

        @media screen and(min-width: 480px) {
            flex-direction: row;
        }

        .control-btn {
            width: 60px;
            height: 60px;
            margin: 10px;
            display: flex;
            align-items: center;
            justify-items: center;
            padding: 0;
            border-radius: 100%;
            border: none;

            &:hover {
                cursor: pointer;
            }

            &--delete {
                background-color: #d66262;
            }
            
            &--edit {
                background-color: #83c08a;
            }
            &:disabled {
                opacity: 0.3;
                cursor: auto;
            }
        }
        
    }
}