.emp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #000;

    &:last-child{
        border-bottom: 1px solid #000;
    }

    &__id {
        display: flex;
        align-items: center;
    }
}