*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: rem-calc(16px);
}

h1, h2 {
    font-family: 'Acrelec', sans-serif;
}

.container {
    margin: 0 auto;
    padding: rem-calc(24px);
    max-width: 600px;
    width: 100%;
}

.icon {
    height: 60px;
    padding: 10px;
}