@import '../../styles.scss';

main {
    border-radius: 6px;
    box-shadow: 0 0px 20px #aaaaaa;
    background: transparent;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    padding: 24px;
    background-color:transparent;
}

.company {
    // background-color: $primary-medium;
    border-radius: 4px;
    padding: rem-calc(16px);
    text-align: center;
}

.employee-list {
    padding: 0;
    li {list-style: none;}
}
