@import '../../styles.scss';

main {
    border: 1px solid;
    border-radius: 6px;
    background-color: #d0d0f5;
    padding: 24px;
}

.company {
    background-color: #3b3bf9;
}

.employee-list {
    padding: 0;
}
