@import '../../styles.scss';

main {
    border-radius: 6px;
    box-shadow: 0 0px 20px #c5e9d9;
    background: transparent;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    padding: 24px;
    background-color: #e4ede9;
}

.company {
    background-color: $primary;
    border-radius: 4px;
    padding: rem-calc(16px);
}

.employee-list {
    padding: 0;
    li {list-style: none;}
}
